.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav {
  background-color: transparent;
  padding-bottom: 0px;
  margin:0;
}

ul {
    list-style: none;
}

.event-title{
  margin: auto;
  width: 100%;
  display: block;
  position: relative;
  background-color: black;
  padding-top: 1px;
  color: white !important;
}

.picsWidth{
    height: 50px;
    width: 140px;
}

.homepage-background{
    width: 100%;
    height: 90%;
}

.contain {
    position: relative;
    color: black;
}

.centered {
    font-size: 0.875em;
    line-height: 18px;
    position: absolute;
    text-align: center;
    background-color: white;
    top: 10%;
    left: 15%;
    width: 40%;
}

.form-item-padding{
    margin: 20px;
}